body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url("1314534.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.7); /* 使用 rgba 來設定背景顏色和透明度 */
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    background-color: #0088cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0077b3;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0088cc;
}

input[type="text"], input[type="tel"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    width: 40%;
    box-sizing: border-box;
}

input[type="password"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    width: 40%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0088cc;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0077b3;
}
